<div class="titleposi">
    <h1>
        <%= @event.title %>
    </h1>
</div>
<p>
    <%= @event.content %>
</p>
<% e = @event %>

<%= link_to '戻る', events_index_path %>
<%= link_to 'Edit', "/events/#{e.year}/#{e.month}/#{e.date}/edit" %>