<div class = "contents">
<div class = "titleposi">
    <h1>Edit</h1>
</div>
<br>
<br>

<%= render 'form' %>


<%= link_to 'Delete', @post,  method: :delete , data: { confirm: 'Sure?' }  %>
<br>
</div>